.edit-site-page {
  padding-top: 30px;

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #141519;
  }

  &__description {
    margin-top: 12px;
    color: #3e414c;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  &__form {
    width: 100%;
    margin-top: 24px;
  }
}
