<div class="site-item" (click)="this.onItemClick()">
  <div class="site-item__texts">
    <div class="site-item__header">
      <p class="site-item__title">{{ this.title }}</p>

      <div class="site-item__colors">
        <span
          *ngFor="let color of this.colors"
          class="site-item__color"
          [style.backgroundColor]="color"
        ></span>
      </div>
    </div>

    <p class="site-item__description">{{ this.description }}</p>
  </div>

  <button class="site-item__edit" (click)="this.onEditButtonClick($event)">
    <i class="material-icons">edit</i>
  </button>
</div>
