<div class="site-item" [routerLink]="['/sites', this.id]">
  <div class="site-item__texts">
    <div class="site-item__header">
      <p class="site-item__title">{{ this.title }}</p>

      <div class="site-item__colors">
        <span
          class="site-item__color"
          [style.backgroundColor]="this.colors.primary"
        ></span>

        <span
          class="site-item__color"
          [style.backgroundColor]="this.colors.secondary"
        ></span>

        <span
          class="site-item__color"
          [style.backgroundColor]="this.colors.tertiary"
        ></span>

        <span
          class="site-item__color"
          [style.backgroundColor]="this.colors.texts"
        ></span>
      </div>
    </div>

    <p class="site-item__description">{{ this.description }}</p>

    <p class="site-item__last-update">
      Última atualização: {{ this.updatedAt | date: "medium" }}
    </p>
  </div>

  <div class="site-item__buttons">
    <button
      class="site-item__icon site-item__icon--first"
      (click)="this.onRemoveButtonClick($event)"
    >
      <i class="material-icons">delete</i>
    </button>

    <button
      [routerLink]="['/sites', this.id, 'editar']"
      class="site-item__icon"
      (click)="this.onEditButtonClick($event)"
    >
      <i class="material-icons">edit</i>
    </button>
  </div>
</div>
