<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper black">
      <div class="container">
        <a href="#" data-target="mobile-sidebar" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>

        <ul class="right hide-on-med-and-down">
          <li><a href="#">Sass</a></li>
          <li><a href="#">Components</a></li>
        </ul>
      </div>
    </div>

    <ul class="sidenav black" id="mobile-sidebar" #mobile_sidebar>
      <li><a href="#" class="white-text">Sass</a></li>
      <li>
        <a href="#" class="white-text">Components</a>
      </li>
    </ul>
  </nav>
</div>
