<form #form="ngForm" (ngSubmit)="onSubmit()" class="site-form">
  <div class="site-form__field">
    <label for="site-title" class="site-form__label">Nome do site </label>

    <input
      type="text"
      id="site-title"
      name="site-title"
      class="site-form__input"
      [(ngModel)]="this.site.title"
      required
      #title="ngModel"
      pattern="^(\s?[a-zà-ú]*)"
    />

    <div
      class="site-form__input-message"
      [hidden]="title.valid || title.untouched"
    >
      Por favor, informe o nome do site
    </div>
  </div>

  <div class="site-form__field">
    <label for="site-title" class="site-form__label">Descrição do site </label>

    <input
      type="text"
      id="site-description"
      name="site-description"
      class="site-form__input"
      [(ngModel)]="this.site.description"
      required
      #description="ngModel"
    />

    <div
      class="site-form__input-message"
      [hidden]="description.valid || description.untouched"
    >
      Por favor, informe a descrição do site
    </div>
  </div>

  <div class="site-form__field">
    <p class="site-form__description">
      Customize a paleta de cores do seu site
    </p>

    <div class="site-form__colors">
      <div class="site-form__color-wrapper">
        <input
          type="text"
          class="site-form__color-input"
          [style.background]="this.site.colors.primary"
          [(ngModel)]="this.site.colors.primary"
          [(colorPicker)]="this.site.colors.primary"
          required
          name="site-colors-primary"
        />
      </div>

      <div class="site-form__color-wrapper">
        <input
          type="text"
          class="site-form__color-input"
          [style.background]="this.site.colors.secondary"
          [(ngModel)]="this.site.colors.secondary"
          [(colorPicker)]="this.site.colors.secondary"
          required
          name="site-colors-secondary"
        />
      </div>

      <div class="site-form__color-wrapper">
        <input
          type="text"
          class="site-form__color-input"
          [style.background]="this.site.colors.tertiary"
          [(ngModel)]="this.site.colors.tertiary"
          [(colorPicker)]="this.site.colors.tertiary"
          required
          name="site-colors-tertiary"
        />
      </div>

      <div class="site-form__color-wrapper">
        <input
          type="text"
          class="site-form__color-input"
          [style.background]="this.site.colors.texts"
          [(ngModel)]="this.site.colors.texts"
          [(colorPicker)]="this.site.colors.texts"
          required
          name="site-colors-texts"
        />
      </div>
    </div>
  </div>

  <div class="site-form__field">
    <p class="site-form__description">
      Customize os componentes que os usuários irão visualizar
    </p>

    <ol class="site-form__components">
      <li
        class="site-form__component"
        *ngFor="
          let component of this.site.components;
          index as indexOfComponent
        "
      >
        <div class="site-form__component-header">
          <i
            class="material-icons"
            (click)="this.onEditComponent(indexOfComponent)"
            >edit</i
          >

          <i
            class="material-icons"
            (click)="this.onRemoveComponent(indexOfComponent)"
            >delete</i
          >

          <select
            class="site-form__component-select"
            [(ngModel)]="this.site.components[indexOfComponent].identifier"
            required
            name="site-component-{{ indexOfComponent }}"
          >
            <option
              *ngFor="let componentType of this.siteComponentIdentifier"
              value="{{ componentType }}"
            >
              {{ componentType }}
            </option>
          </select>
        </div>

        <div class="site-form__component-preview">
          <app-site-component
            [identifier]="component.identifier"
            [metadata]="component.metadata"
            [site]="this.site"
          ></app-site-component>
        </div>

        <div class="site-form__component-controls">
          <i
            *ngIf="indexOfComponent !== 0"
            class="material-icons"
            (click)="
              this.onMoveComponentIndex(indexOfComponent, indexOfComponent - 1)
            "
            >arrow_drop_up</i
          >

          <i
            *ngIf="indexOfComponent !== this.site.components.length - 1"
            class="material-icons"
            (click)="
              this.onMoveComponentIndex(indexOfComponent, indexOfComponent + 1)
            "
            >arrow_drop_down</i
          >
        </div>
      </li>
    </ol>
  </div>

  <button
    class="site-form__add-component"
    type="button"
    (click)="this.onAddComponent($event)"
  >
    Adicionar componente
  </button>

  <button class="site-form__save-button" type="submit" [disabled]="!form.valid">
    Salvar
  </button>
</form>

<span *ngIf="this.selectedComponentIndex !== undefined">
  <app-edit-component-modal
    (close)="this.onFinishEditComponent(this.selectedComponentIndex, $event)"
    [identifier]="this.site.components[this.selectedComponentIndex].identifier"
    [metadata]="this.site.components[this.selectedComponentIndex].metadata"
  ></app-edit-component-modal>
</span>
